/*  root settings  */
@media(max-width:1750px)
{
    :root
    {
        font-size:14px !important;
    }
}
@media(max-width:1400px)
{
    :root
    {
        font-size:12px !important;
    }
}
@media(max-width:1150px)
{
    :root
    {
        font-size:12px !important;
    }
}
@media(max-width:992px)
{
    :root
    {
        font-size:9px !important;
    }
}
@media(min-width: 1440px)
{
    .container
    {
        max-width: 80%;
    }
}
@font-face
{
    font-family: Geologica-Regular;
    src: url('/fonts/Geologica-Regular.ttf');
}
@font-face
{
    font-family: Geologica-Medium;
    src: url('/fonts/Geologica-Medium.ttf');
}
@font-face
{
    font-family: Geologica-SemiBold;
    src: url('/fonts/Geologica-SemiBold.ttf');
}
@font-face
{
    font-family: Geologica-Black;
    src: url('/fonts/Geologica-Black.ttf');
}
@font-face
{
    font-family: Copperplate Gothic;
    src: url('/fonts/Copperplate Gothic.ttf');
}
html 
{
    scroll-behavior: smooth;
}
body
{
    font-family: 'Geologica-Medium';
    user-select: none;
    -webkit-user-drag: none;
}
img
{
    user-select: none;
    -webkit-user-drag: none;
}
main
{
/*    min-height: 500px;*/
}

/*  nav header css  */
.nav-head
{
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.navbar-laravel
{
    background: #bed741;
}
.navbar-nav
{
    padding: 1rem;
}
.link-nav
{
    padding: 1rem;
    width: 100%;
    height: 100%;
/*    justify-content: space-evenly;*/
    justify-content: end;
    align-items: center;
}
.navbar-logo
{
    width: 50%;
}
.navbar-nav .nav-li
{
    margin: 0 2rem;
}
.navbar-nav a
{
    font-family: 'Geologica-Medium';
    color: #000;
    font-size: 1.5rem;
    padding: 0 !important;
    white-space: nowrap;
}
.navbar-nav a:hover 
{
    color: #ffffff;
    opacity: 0.8;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}
.navbar-nav .nav-li.active a 
{
    color: red;
}

/*  footer css  */
.footer {
    background: #FFFEF7;
}
.footer-loop-banner
{
    background: red;
    font-family: 'Geologica-Medium';
    font-size: 2.5rem;
    padding: 1rem;
    width: 100%;
    height: 6.25rem;
}
.loop-banner
{
    width:100%;
    height:100%;
    overflow:hidden;
}
.loop-banner ul
{
    display: inline-flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
}
.loop-banner li
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}
.gap-wall
{
    background: #ffffff;
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.navbar-navfoot
{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-left: 0;

    height: 100%;
    align-items: center;
}
.navbar-navfoot li
{
    display: inline-flex;
}
.navbar-navfoot a
{
    font-family: 'Geologica-Medium';
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #000000;
    transition: 0.6s;
}
.navbar-navfoot a:hover
{
    transition: 0.6s;
    transform: scale(1.1);
}
.navbar-navfoot .nav-li.active a
{
    text-decoration: underline;
}
.long-wall
{
    border-left: 6px solid #000;
    height: 100%;
}
.footer-save-and-green
{
    font-family: 'Geologica-Medium';
    font-size: 3rem;
    width: 100%;
    letter-spacing: 1px;
    text-align: center;
}
.cp-right
{
    background-color: #000000; 
    text-align: center;
    padding: 1rem;
}
.cp-right span
{
    font-family:'Geologica-Regular';
    color: #ffffff;
}
.loop-banner ul {
  animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* mobile responsive */
@media(max-width: 1500px) {
    .navbar-navfoot a {
        font-size: 1.65rem;
    }
    .footer-save-and-green {
        font-size: 2.5rem;
    }
}
@media(max-width: 1200px) {
    .navbar-navfoot a {
        font-size: 1.5rem;
    }
    .footer-save-and-green {
        font-size: 2rem;
    }
}
@media(max-width: 767.5px) {
    /*  navbar  */
    .navbar-laravel {
        padding: 1.5rem;
    }
    .mobile-nav-toggle {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1px;
    }
    .mobile-nav-toggle > a > img {
        width: 30%;
    }
    .mobile-nav-toggle button {
        -webkit-appearance: none;
        appearance: none;
        background: none;
        border: none;
/*        outline: none;*/
        cursor: pointer;
        width: 10%;
    }
    .mobile-nav-toggle button:focus {
        outline: 0px dotted;
        border-radius: 5px;
    }
    .menu-open {
        width: 100%;
        transform: scale(0.8);
    }
    .menu-close {
        display: none;
        width: 100%;
        transform: scale(0.5);
    }
    .mobile-nav {
        display: none;
        border-top: 1px solid honeydew;
    }
    .mobile-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 2rem 0 0 0;
    }
    .mobile-nav li {
        padding: 0.5rem;
    }
    /*  footer  */
    .navbar-navfoot.mobile {
        justify-content: space-evenly;
        padding-bottom: 2rem;
    }
    .long-wall.mobile {
        width: 100%;
        border: 1px solid #000;
    }
    .footer-save-and-green {
        padding-top: 2rem;
    }
}
@media(max-width: 576px) {
    .menu-open {
        transform: scale(1);
    }
    .menu-close {
        transform: scale(0.6);
    }
    .loop-banner li {
        width: unset;
    }
    .gap-wall {
        width: 15px;
        height: 15px;
    }
}
@media(max-width: 475px) {
    .mobile-nav-toggle button {
        width: 15%;
    }
}
@media(max-width: 300px) {
    .navbar-navfoot a {
        font-size: 1.35rem;
    }
}



/*ssdfdffd*/


.banner {
    position: relative;
    padding-top: 6%;
    animation: banner 0.8s ease-in;
    background-color: rgba(255, 255, 255, 1);
}    
@keyframes banner {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}
.banner img {
    aspect-ratio: 16 / 9;
    filter: invert(80%) sepia(100%) saturate(460%) hue-rotate(165deg) brightness(100%) contrast(115%);
    transform: scaleX(-1);
}
.banner-textbox {
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 45%;
    padding-left: 10%;
/*    text-align: right;*/
    font-style: italic;
}
.banner-text1 {
    font-size: 4.8rem;
    font-family: Copperplate Gothic; font-weight: bolder;
    padding-left: 2rem;
    animation: text1 2s ease-in;
}
@keyframes text1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.banner-text2 {
    font-size: 5.5rem;
    font-family: Copperplate Gothic; font-weight: bolder;
    animation: text2 2.2s ease-in;
}
@keyframes text2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* mobile responsive */
@media(max-width: 1200px) {
    .banner {
        padding-top: 150px;
    }
}
@media(max-width: 992px) {
    .banner {
        padding-top: 200px;
    }
}
@media(max-width: 767.5px) {
    .banner-text1 {
        font-size: 4rem;
    }
    .banner-text2 {
        font-size: 4.5rem;
    }
}
@media(max-width: 575.5px) {
    .banner {
        padding-top: 300px;
    }
    .banner-textbox {
        left: 50%;
        padding: 6%;
    }
    .banner-text1 {
        padding-left: 0;
    }
}
@media(max-width: 500px) {
    .banner-text1 {
        font-size: 3rem;
    }
    .banner-text2 {
        font-size: 3.5rem;
    }
}
@media(max-width: 380px) {
    .banner-text1 {
        font-size: 2.2rem;
    }
    .banner-text2 {
        font-size: 3.0rem;
    }
}
